<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Failure Page </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container my-lg-4 mb-4">
    <div class="logo text-center">
        <h1> There was an error. Please make sure try again.</h1>
        <span> <a href = "/"> Click Here to Go Back</a></span>
    </div>
</div>





    <!-- footer -->
    <div class="container">
        <footer class="footer-emp-w3ls">
            <div class="copy-right-top border-top">
                <p class="copy-right text-center text-white py-4">Copyright © 2019 | Design by José San Martin
                </p>
            </div>
        </footer>
    </div>
    <!-- //footer -->

</body>
</html>